@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  font-family: 'Nunito Sans', sans-serif;
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-Gray: hsl(0, 0%, 52%);
  --bg-main: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --dark: #000;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

[data-theme="light"] {
  --main-text: #000;
  --navbar: #FFF;
  --bg-main: hsl(0, 0%, 98%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --white: hsl(0, 0%, 100%);
  --hover: #eee;
  --card: hsl(0, 0%, 100%);
  --sec-text: #605656;
}

[data-theme="dark"] {
  --main-text: hsl(0, 0%, 100%);
  --navbar: hsl(209, 23%, 22%);
  --bg-main: hsl(207, 26%, 17%);
  --white: hsl(0, 0%, 100%);
  --hover: hsl(207, 26%, 17%);
  --card: hsl(209, 23%, 22%);
  --sec-text: #b5b5b5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
}

body {
  color: #000;
  background: var(--bg-main);
}

a {
  color: inherit;
  text-decoration: none;
}
